<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.Master.cs" Inherits="OnlinePharmacyManagementSystem.View.Admin.Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../../Assets/lib/css/bootstrap.min.css" />
    <style>
        img{
            height:70px;
            width: 68px;
        }
        *{
            font-family:poppins;
        }
        .nav-link{
            color:forestgreen;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../Assets/images/images.png"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  href="Medicines.aspx"><img src="../../Assets/images/sign.png"/>Medicines</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active"  href="Category.aspx"><img src="../../Assets/images/Category.jpg"/>Categories</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active"  href="Seller.aspx"><img src="../../Assets/images/Seller.png"/>Sellers</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="../View/Admin/Login.aspx"><img src="../../Assets/images/logout.png"/>Logout</a>
        </li>
        
             
       
       
      </ul>
    </div>
  </div>
</nav>
    <form id="form1" runat="server">
    <div>
        &nbsp;<asp:ContentPlaceHolder ID="MyBody" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
